body { 	font: 12pt/16pt georgia; 	color: #555753; 	margin: 0px; 	top: 0px; 	}p { 	font: 12pt/16pt georgia; 	margin-top: 0px; 	}

#topMenu {	margin-left: 30px;	margin-right: 0px;	background:#555753;
	width: 600px;	}

#menuList {
	text-align: center;
	}

#menuList p{
	text-align: center;
	}	#container { 	padding: 0px  0px 0px 0px;  	margin: 0px; 	background-color: #09dbf4;	}	#content {	margin-left: 30px;	margin-right: 0px;	background:#FFF;	}	#maintext {	padding-top: 20px;	padding-left: 26px;	padding-right: 40px;	}			#pageHeader {	padding-left: 26px;	padding-right: 40px;	padding-top: 10px;	background-repeat: no-repeat;	background-position: center; 	background:#FFF;	}	#pageHeader h1 { 	text-align: center;	}	#pageFooter {		padding-top: 40px;	}	#pageFooter p.poetry {	text-align: center;	}	#pageFooter p.update {	text-align: right;	font-size: 8pt;	}	#pageFooter hr.poetry {	width: 60%;	text-align: center;	}#topMenuOld {	position: absolute;	font-family: Arial, Tahoma, Geneva, Helvetica, Verdana, sans-serif;	font-weight: bold;	left: 30px;	text-align: center;	overflow: hidden;
	margin-left: 30px;	padding-top: 0px;	top: 30px;	bottom: px;	width: 100%;	background-color: #09dbf4; 	height: 150px;}	#linkList {	position: absolute;	font-family: Arial, Tahoma, Geneva, Helvetica, Verdana, sans-serif;	font-weight: bold;	left: 0px;	text-align: center;	overflow: hidden;	padding-top: 150px;	top: 0px;	bottom: px;	width: 134px;	background-color: #09dbf4; 	height: 100%;}//#lselect { background: #09dbf4; padding-bottom: 40px; }#lresources { border-top: 3px double #8e7253; }#linklist ul {	padding-left: 3px;	margin-left: 0px;	}	#linklist ul li{	list-style-type: none;	}	#linklist ul li a:link, #linklist ul li a:visited {	text-decoration: underline;	}

#topMenu table tr td{
	width: 400px;
	}