<html>

<head>

<meta name="description" content="The homepage of Jonathan 
Pritchard " />

<meta name="keywords" content="jonathan, pritchard, cosmology, astrophysics, dark energy,
 21cm, twenty one cm, reionization, reionisation, dark ages, cosmic microwave background, 
 large scale structure" />

<title>The homepage of Jonathan Pritchard</title>
<link rel="stylesheet" type="text/css" href="style_fd.css" />

</head>

<body>

<div id="container">
	
	
	<div id=“topMenu”>
	<div id=“menuList”>
	<p> this is text</p>

	<table>
	<tr>
	<td><a href="index.html">Home</a></td>
	<td><a href="research.htm">Research</a></td>
	<td><a href="publications.htm">Publications</a></td>
	<td><a href="talks.htm">Talks</a></td>
	<td><a href="https://breedingenthusiasms.wordpress.com">Blog</a></td>
	</tr>
	</table>
	</div>
	</div>
	
	<div id="content">
		
		<div id="pageHeader">
			<h1>{{ page.title }}</h1>
			<hr></hr>
		</div>
		
		<div id="maintext">

	    {{ content }}

		<div id="pageFooter">
		<hr class="poetry">
		<p class="poetry">We astronomers are nomads,<br>
		Merchants, circus people,<br>
		All the earth our tent.<br><br>
		We are industrious.<br>
		We breed enthusiasms,<br>
		Honour our responsibility to awe.<br>
		-Rebecca Elson</p>
		<hr class="poetry">
		<p class="update">Last Updated: 20 December 2010
		</div>
	</div>
	
	</div>
</div>

</body>


</html>